.turbo
.next
dist
coverage
node_modules
.pnpm-store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/generated
*.log
